* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
}

body {
    background-color: #000;
}

#logo {
    width: 583px;
    margin: 40px auto;
    display: block;
}

label {

}

#firstNumber {

}

#secoundNumber {

}